@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: #000;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  height: 90px;
  margin: auto;
}
.logo {
  z-index: 2;
  display: flex;
  align-items: start;
  width: 9.25rem;
  margin: 2.5rem;
}
.but1 {
  padding: 8px 19px 8px 14px;
  border-radius: 16px;
  background-color: rgba(22, 22, 22, 0.7);
  color: aliceblue;
}
.but2 {
  padding: 8px;
  border-radius: 12px;
  background-color: rgb(244, 244, 244);
}
.drop {
  display: flex;
  gap: 8px;
}
.img1 {
  width: 95vw;
  height: 70vh;
  border-radius: 20px;
}
.imgholder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  z-index: 3;
  color: rgb(20, 20, 20);
  position: absolute;
  top: 90px;
  left: 30px;
  background-color: rgb(18, 18, 18);
  height: 70vh;
  width: 95vw;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: auto;
  flex-direction: column;
  opacity: 0.6;
}
.line3 {
  font-family: "Martel Sans", sans-serif;
  color: white;
  z-index: 5;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: rgba(20, 20, 20, 0);
}
.line2 {
  font-family: "Martel Sans", sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  z-index: 5;
  background-color: rgba(20, 20, 20, 0);
}
.line0 {
  color: white;
  font-size: 3.5rem;
  font-weight: 900;
  font-family: "Martel Sans", sans-serif;
  margin-top: 18vh;
  margin-bottom: 0px;
  z-index: 5;
  background-color: rgba(20, 20, 20, 0);
}
.line1 {
  color: white;
  font-size: 3.5rem;
  font-weight: 900;
  font-family: "Martel Sans", sans-serif;
  margin-top: 0px;
  z-index: 5;
  background-color: rgba(20, 20, 20, 0);
}
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(20, 20, 20, 0);
  top: -70vh;
}
.email {
  color: white;
  background-color: white;
  z-index: 5;
  background-color: rgba(20, 20, 20, 0);
  padding: 5px;
}
.btn {
  background-color: red;
  color: white;
  padding: 12px 50px 12px 50px;
  align-items: center;
  border-radius: 30px;
  font-size: 24px;
}
.email1 {
  background-color: rgba(74, 73, 73, 0.512);
  padding: 18px 70px 14px 70px;
  border-radius: 30px;
  color: white;
  font-size: 16px;
}
.box2 {
  width: 80vw;
  height: 80vh;
  margin: auto;
  position: relative;
}
.trend {
  z-index: 7;
  color: white;
  position: relative;
  top: -60vh;
  width: 100%;
}
.movcards {
  color: white;
  position: relative;
  display: flex;
  flex-direction: row;
  top: -60vh;
  width: 100%;
  align-content: center;
  overflow: hidden;
}
.card1 {
  border: 10px solid black;
  margin: auto;
  height: 262px;
  width: 151px;
  border-radius: 30px;
}
.card2 {
  border: 10px solid black;
  margin: auto;
  height: 262px;
  width: 151px;
  border-radius: 30px;
}
.card3 {
  border: 10px solid black;
  margin: auto;
  height: 262px;
  width: 151px;
  border-radius: 30px;
}
.card4 {
  border: 10px solid black;
  margin: auto;
  height: 262px;
  width: 151px;
  border-radius: 30px;
}
.card5 {
  border: 10px solid black;
  margin: auto;
  height: 262px;
  width: 151px;
  border-radius: 30px;
}
.card6 {
  border: 10px solid black;
  margin: auto;
  height: 262px;
  width: 151px;
  border-radius: 30px;
}
.card7 {
  border: 10px solid black;
  margin: auto;
  height: 262px;
  width: 151px;
  border-radius: 30px;
}
.card8 {
  border: 10px solid black;
  margin: auto;
  height: 262px;
  width: 151px;
  border-radius: 30px;
}
.card9 {
  border: 10px solid black;
  margin: auto;
  height: 262px;
  width: 151px;
  border-radius: 30px;
}
.card10 {
  border: 10px solid black;
  margin: auto;
  height: 262px;
  width: 151px;
  border-radius: 30px;
}
.mrj {
  color: white;
  position: relative;
  top: -55vh;
  font-size: 32px;
}
.morecards {
  color: white;
  position: relative;
  top: -50vh;
  display: flex;
  margin: auto;
}
.mcard1 {
  width: 25%;
  height: 250px;
  margin: auto;
  background-color: rgb(47, 18, 75);
  border: 10px solid black;
  margin: auto;
  border-radius: 20px;
}
.mcard2 {
  width: 25%;
  height: 250px;
  margin: auto;
  background-color: rgb(47, 18, 75);
  border: 10px solid black;
  margin: auto;
  border-radius: 20px;
}
.mcard3 {
  width: 25%;
  height: 250px;
  margin: auto;
  background-color: rgb(47, 18, 75);
  border: 10px solid black;
  margin: auto;
  border-radius: 20px;
}
.mcard4 {
  width: 25%;
  height: 250px;
  margin: auto;
  background-color: rgb(47, 18, 75);
  border: 10px solid rgb(9, 2, 2);
  margin: auto;
  border-radius: 20px;
}
.l1 {
  background-color: rgba(246, 244, 248, 0);
  font-size: 25px;
  padding: 20px;
  font-weight: 500px;
}
.l2 {
  background-color: rgba(246, 244, 248, 0);
  padding: 10px;
  z-index: 0.6;
  font-size: 18px;
}
.faqs {
  color: white;
  position: relative;
  top: -45vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
}
.faq1{
  width: 100%;
  height: 80px;
  background-color: rgba(70, 70, 70, 0.507);
  display: flex;
  align-items: center;
  padding: 0 0px 0 20px;
  margin: auto;
  border: 5px solid black;
  font-size: 25px;
}
.faq2{
  width: 100%;
  height: 80px;
  background-color: rgba(70, 70, 70, 0.507);
  display: flex;
  align-items: center;
  padding: 0 0px 0 20px;
  border: 5px solid black;
  font-size: 25px;
}
.faq3{
  width: 100%;
  height: 80px;
  background-color: rgba(70, 70, 70, 0.507);
  display: flex;
  align-items: center;
  padding: 0 0px 0 20px;
  border: 5px solid black;
  font-size: 25px;
}
.faq4{
  width: 100%;
  height: 80px;
  background-color: rgba(70, 70, 70, 0.507);
  display: flex;
  align-items: center;
  padding: 0 0px 0 20px;
  border: 5px solid black;
  font-size: 25px;
}
.faq5{
  width: 100%;
  height: 80px;
  background-color: rgba(70, 70, 70, 0.507);
  display: flex;
  align-items: center;
  padding: 0 0px 0 20px;
  border: 5px solid black;
  font-size: 25px;
}
.faq6{
  width: 100%;
  height: 80px;
  background-color: rgba(70, 70, 70, 0.507);
  display: flex;
  align-items: center;
  padding: 0 0px 0 20px;
  border: 5px solid black;
  font-size: 25px;
}
.fq{
  color: white;
  position: relative;
  top: -5vh;
  font-size: 32px;
}
.secmail{
  color: white;
  position: relative;
  top: -45vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  align-items: center;
}
email2{
  padding: 30px;
}
.email3{
  background-color: rgba(74, 73, 73, 0.512);
  padding: 20px 10px 0px 10px;
}
.email2{
  color: white;
  background-color: white;
  z-index: 5;
  background-color: rgba(20, 20, 20, 0);
  padding: 15px;
}
.btn {
  background-color: red;
  color: white;
  padding: 12px 20px 12px 20px;
  align-items: center;
  border-radius: 30px;
  font-size: 24px;
}
.email3{
  background-color: rgba(74, 73, 73, 0.512);
  padding: 18px 70px 14px 70px;
  border-radius: 30px;
  color: white;
  font-size: 16px;
}
.footer {
  color: white;
  position: relative;
  top: 70vh;
  display: flex;
  margin: auto;
  padding: 20px;
  align-items: center;
}
.footer :nth-child(1) {
  margin: auto;
  padding: 20px;
  font-size: 20px;
}
.footer :nth-child(2) {
  margin: auto;
  padding: 20px;
  font-size: 20px;
}
.footer :nth-child(3) {
  margin: auto;
  padding: 20px;
  font-size: 20px;
}
.footer :nth-child(4) {
  margin: auto;
  padding: 20px;
  font-size: 20px;
}
.footer :nth-child(5) {
  margin: auto;
  padding: 20px;
  font-size: 20px;
}
.footer :nth-child(6) {
  margin: auto;
  padding: 20px;
  font-size: 20px;
}
.footer :nth-child(7) {
  margin: auto;
  padding: 20px;
  font-size: 20px;
}
.footer :nth-child(8) {
  margin: auto;
  padding: 20px;
  font-size: 20px;
}
